// Top banner
@import './modules/topbanner';

.logo {
	font-family: 'Inter', 'Roboto', Arial, sans-serif;
	color: $logo-black;
	text-decoration: none;
	font-weight: 400;
}

.header {
	padding-top: 2.65em;
	padding-bottom: 1.25em;

  @media (max-width: 720px) {
    padding-top: 1em;
  }
	// .header__container

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__burger {
		display: inline-flex;
		min-width: max-content;
		margin-right: 0.5em;

		@media (min-width: 930px) {
			display: none;
		}
	}

	&__icon {
		height: 24px;
		width: 24px;
	}

	// .header__logo

	&__logo {
		font-size: 1.125em;
		flex-grow: 1;

		@media (min-width: 930px) {
			flex-grow: 0;
		}
	}

	// .header__nav

	&__nav {
		display: none;
    padding-left: 6.5em;

    @media (max-width: 1200px) {
      padding-left: 2em;
    }

		@media (min-width: 930px) {
			display: block;
		}
	}

	// .header__buttons

	&__buttons {
		display: flex;
	}

	// .header__button

	&__button {
		&:not(:last-child) {
			margin-right: 0.625em;
		}
	}

	// Log in button
	&__log-in {
		display: none;
		@media (min-width: 475px) {
			display: inline-flex;
		}
	}

	// Get started
	&__get-started {
		width: 126px;
		@media (min-width: 575px) {
			width: 160px;
		}
	}
}
.nav {
	// .nav__list

	&__list {
		display: flex;
		align-items: center;
	}

	// .nav__item

	&__item {
		position: relative;

		display: inline-flex;
		align-items: center;

		&:not(:last-child) {
			margin-right: 2.75em;
		}

		.arrow-down {
			margin-top: -2px;
			margin-left: 0.25em;
		}
	}

	// .nav__link

	&__link {
		position: relative;
		text-decoration: none;
		color: $black;
		font-size: 0.875em;
		text-transform: uppercase;
		font-weight: 500;
		padding: 0.5em 0;

		&::before {
			content: '';
			height: 3px;
			width: 100%;
			background-color: $primary;
			display: none;
			position: absolute;
			bottom: 0;
		}

		&:hover {
			&::before {
				display: block;
			}
		}
	}
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $text-dark;
}
