// Posts
@import "../modules/posts";

// Aside blocks
@import "../modules/aside";

.main {
  margin-top: 2.25em;
  &__container {

  }

  .content {
    &--grid {
      display: flex;

      @media (max-width: 890px) {
        flex-direction: column;
      }
    }
  }
}

.posts {
  display: flex;
  flex-direction: column;

  &__article {

  }

  &__item {
    padding-bottom: 3.75em;
    border-bottom: 1px solid $border-darkgray;
    margin-bottom: 1.875em;
  }
}

.recent {
  flex-basis: 67%;
  padding-right: 3.5em;

  @media (max-width: 1110px) {
    padding-right: 2em;
  }

  @media (max-width: 890px) {
    padding-right: 0;
  }

  &__title {
    display: inline-flex;
    font-weight: 300;
    font-size: 2em;
    color: $text-dark;
  }

  &__list {
    margin-top: 2.5em;
  }

  &__more {
    max-width: 260px;
    margin: 2.5em auto 0 auto;
  }
  &__button {
    width: 100%;
  }
}
