.hero {
	margin-top: 1.25em;

	// .hero__container
	&__container {
	}

	// .hero__article
	&__article {
		border: 1px solid $border-gray;
		border-radius: 0.375em;
		box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.101961)
	}
}
