.tags {
	margin-top: 2em;
	margin-bottom: 2em;

	// .tags__container

	&__container {
		font-size: 0.875em;
		letter-spacing: 0.8px;
	}

	// .tags__wrapper
	&__wrapper {
		display: flex;
		align-items: baseline;
		background-color: $lightgray;
		border-radius: 0.5em;
		padding: 1.25em 2.2em;
		text-transform: uppercase;
		height: 60px;
	}

	// .tags__wrapper

	&__inner {
		display: flex;
		align-items: center;
		flex-grow: 1;
	}

	&__title {
		font-weight: 500;
	}

	// .tags__list

	&__list {
		display: flex;
	}

	// .tags__link

	&__link {
		color: $text-dark;
		text-decoration: none;
		font-weight: 500;

		&:not(:last-child) {
			margin-right: 3.5em;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}
.tags-list {
	padding-left: 3.5em;
	padding-right: 2em;
	display: flex;
	align-items: center;

	// .tags-list__item

	&__item {
		line-height: 1;
		&:not(:last-child) {
			margin-right: 2.5em;
		}
	}

	// .tags-list__link

	&__link {
		color: $primary;
		font-weight: 500;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
