.footer {
	padding-bottom: 80px;

	@media (max-width: 880px) {
		padding-bottom: 1em;
	}

	&--grid {
    display: flex;
    align-items: flex-start;

    @media (max-width: 960px) {
     flex-direction: column;
    }
	}

	&--menu-grid {
		display: flex;
    align-items: flex-start;

    @media (max-width: 960px) {
      justify-content: space-between;
      width: 100%;
    }

    @media (max-width: 600px) {
      flex-wrap: wrap;
    }
	}

	// .footer__logo
	&__logo {
		display: inline-flex;
		font-size: 1.75em;
		margin-bottom: 2em;
	}

	// .footer__navs
	&__navs {
    flex-basis: 55%;

    @media (max-width: 960px) {
      flex-basis: 100%;
      margin-bottom: 2em;
    }
	}
  // .footer__info
	&__info {
    flex-basis: 45%;

    @media (max-width: 960px) {
      flex-basis: 100%;
    }
	}
	// .footer__menu
	&__menu {
    min-width: 165px;
	}
  // .footer__menu-inner
  &__menu-inner {
    &:nth-child(2) {
      @media (min-width: 961px) {
        margin-left: 2.875em;
        margin-right: 2.25em;
      }
    }

    @media (max-width: 600px) {
      flex-basis: 50%;
    }

    .footer__menu:first-child {
      margin-bottom: 3.625em;
    }
  }
	// .footer__title
	&__title {
		font-weight: 500;
		font-size: 0.875em;
		color: $text-dark;
		display: inline-flex;
		margin-bottom: 1.42em;
		text-transform: uppercase;
	}

	// .footer__list

	&__list {
	}

	// .footer__item

	&__item {
		&:not(:last-child) {
			margin-bottom: 1em;
		}
	}

	// .footer__link

	&__link {
		color: $gray;
		text-decoration: none;
    font-size: 0.875em;

		&:hover {
			text-decoration: underline;
		}
	}

	// .footer__about

	&__about {
		color: $gray;
		margin-bottom: 3em;

		@media (max-width: 880px) {
			margin-bottom: 0;
		}
		p {
			margin: 0;
			font-size: 0.875em;
		}
		small {
			display: inline-flex;
			font-size: 0.75em;
		}
	}

	// .footer__social

	&__social {
		@media (min-width: 601px) and (max-width: 880px) {
			margin-top: 3.5em;
		}
	}

	// .footer__media

	&__media {
		display: flex;
    flex-wrap: wrap;

		@media (max-width: 880px) {
			grid-template-columns: repeat(auto-fit, minmax(24px, 1fr));
		}
	}

	// .footer__link

	&__link {

	}
}

.media {
  // .media__image
	&__image {
    height: 1.75em;
    width: auto;
    display: inline-flex;
    align-items: center;

    @media (max-width: 600px) {
      margin-bottom: 1em;
    }

    &:not(:last-child) {
      margin-right: 2em;

      @media (max-width: 600px) {
        margin-right: 1em;
      }
    }
	}

	// .media__link
	&__link {
	}
}
